.homeTableWraper {
  overflow: auto;
  width: 100%;
}

.homeTableWraper thead tr {
  @apply bg-black text-white;
}
.homeTableWraper table {
  @apply w-[90%] min-w-[1200px] m-auto;
}
.homeTableWraper thead {
  @apply w-[100%] m-auto;
}
.homeTableWraper tr {
  @apply w-full text-center;
}
.homeTableWraper tbody {
  @apply border-4 border-black;
}
.homeTableWraper tbody td {
  @apply p-2 border-2;
}
.homeTableWraper h1 {
  @apply h-[100px] text-[30px] flex justify-center gap-2 items-center;
}
.filterNav {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 400px;
  gap: 20px;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
.close {
  width: 0 !important;
  padding: 0px;
  min-width: 0px !important;
}
